

@media screen and (max-width: 768px) {
    .main-nav{
        background: #ffffff;
        position: fixed;
        left: 0;
        top: 68px;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        z-index: 20;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .4s ease;
        box-shadow: -1px 15px 25px -16px rgb(63 166 55 / 50%)
    }
    .main-nav li{
        margin-top: 10px;
        padding: 5px;
    }
    .mobile-expand{
        transform: scaleY(1);
    }

    .mobile-collapse{
        transform: scaleY(0);
    }
}

